html{
    scroll-behavior: smooth;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}

header{
  height: 60px;
}

h1{
  font-size: 20px;
  color: yellow;
  padding-top: 10px;
  /* padding-left: 30px; */
  padding-bottom: 10px;
}

p{
  padding-bottom: 20px;
}

main{
  margin-left: 10%;
  margin-right: 10%;
}


/* jump to content */
a.jump{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  z-index: 1;
}

a.jump:focus{
  top:20px;
  color: black;
  text-decoration-style: solid;
}




/* back to top */

#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    float: right;
    right: 3%;
    z-index: 1;
    width: 70px;
    height: 70px;
    background-color: #ccc;
    border: solid 2px #ccc;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 50px;
    font-size: 12px;
}

#myBtn:hover {
  background-color: #aaa;
  border-color: #aaa;
}

#myBtn a{
  color: black;
  text-decoration: none;
}




/* navigation */
.nav_bar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  padding-top: 20px;
}

.nav_item a{
  color: #bbb;
  text-decoration: none;
  padding: 4px;
  padding-right: 25px;
  padding-left: 25px;
  justify-content: flex-start;
}

.nav_item.active a{
  color: #5e5e5e;
  /* font-weight: 700; */
}

.nav_item a:hover{
  align-items: center;
  /* color: #5e5e5e; */
  font-weight: 700;
  /* text-decoration: underline; */
}

.logo{
  display: inline-block;
  float: left;
  font-size: 40px;
  padding: 10px;
  padding-left: 20px;
}

.logo a{
  text-decoration: none;
  color: black;
}





/* footer */
footer{
  color: #5e5e5e;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  display: block;
}

footer p{
  font-size: 12px;
  padding-bottom: 0px;
}

footer img{
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 3%;
  width: 3%;
}


/* intro */

.intro_video video{
  width: 100%;
  filter: brightness(.5);
}



/* about me */

.about_me_intro{
  display: block;
  font-size: 75px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.about_me_intro p, .about_me_goal, .contact_me{
  text-align: center;
}


.about_me_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6,500px);
  grid-row-gap: 150px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.about_me_container div {
  overflow: hidden;
}

.about_me_container p{
  font-size: 20px;
  margin: auto;
  text-align: center;
  /* background-color: rgb(255,255,255, .95); */
  /* background-color: white; */
  width: 60%;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */

}

.about_me_container img{
  height: 75%;
  margin: auto;
}

.about_me_intro_text{
  font-size: 55px;
}

.about_me_intro_text, .about_me_nyu, .about_me_nyu_opps, .about_me_nielsen, .about_me_michigan, .about_me_passion{
  margin: auto;
  z-index: 1;
}

.about_me_intro_text, .about_me_nyu_img, .about_me_nyu_opps, .about_me_nielsen_img, .about_me_michigan, .about_me_passion_img{
  grid-column: 4 / span 4;
}

.about_me_intro_img, .about_me_nyu, .about_me_nyu_opps_img, .about_me_nielsen, .about_me_michigan_img, .about_me_passion{
   grid-column: 1 / span 4;
}

.about_me_intro_text, .about_me_intro_img{
  grid-row: 1;
}

.about_me_nyu, .about_me_nyu_img{
  grid-row: 2;
}

.about_me_nyu_opps, .about_me_nyu_opps_img{
  grid-row: 3;
}


.about_me_nielsen, .about_me_nielsen_img{
  grid-row: 4;
}

.about_me_michigan, .about_me_michigan_img{
  grid-row: 5;
}

.about_me_passion, .about_me_passion_img{
  grid-row: 6;
}

.contact_me{
  font-size: 35px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 150px;
  padding-bottom: 150px;
}







/* projects */
.container_projects{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 25px;
  align-items: center;
  overflow: hidden;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container_projects img{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-height: 300px;
  width: auto;
}

.flip_card{
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  /* padding:25px; */
  margin-left: auto;
  margin-right: auto;
}

.flip_card_inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip_card:hover .flip_card_inner{
  transform: rotateY(180deg);
}

.flip_card_front, .flip_card_back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip_card_front{
  background-color: #eee;
  color: black;
}

.flip_card_back{
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  justify-content: center;
  align-items: center;
}

.flip_card_back h1{
  padding-top: 120px;
  padding-bottom: 10px;
  font-size: 30px;
}

.container_projects a{
  display: block;
  text-decoration: none;
  color: black;
  height: 100%;
  width: 100%;
}


.sonos_tile{
  grid-column: 2;
  grid-row: 1;
}

.nielsen_tile{
  grid-column: 3;
  grid-row: 1;
}

.byb_tile{
  grid-column: 2;
  grid-row: 2;
}

.iworker_tile{
  grid-column: 3;
  grid-row: 2;
}



/* all projects */

.intro{
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-template-rows: 400px;
  grid-column-gap: 40px;
  align-items: center;
  overflow: hidden;
  margin-bottom: 50px;
}

.project_image{
  margin-left: auto;
  margin-right: auto;
}

.project_text h1{
  font-size: 30px;
}

.project_text h2{
  font-size: 20px;
  color: black;
  padding-bottom: 30px;
}

.project_text p{
  font-size: 16px;
  color: black;
  padding-bottom: 10px;
}

.project_text ol{
  font-size: 16px;
  color: black;
  padding-left: 50px;
}

.disclaimer p{
  font-size: 14px;
  color: black;
  font-style: italic;
  padding-top: 95px;
  padding-bottom: 0px;
}



/* sonos */

.intro.sonos{
  background-color: black;
  margin-left: -15%;
  margin-right: -15%;
  padding-left: 15%;
  padding-right: 15%;
}

.intro.sonos h1, .intro.sonos h2, .intro.sonos p, .intro.sonos ol{
  color: white;
}

.sonos_summer{
  padding-bottom: 50px;
}

.sonos_summer p{
  text-align: center;
}

.sonos_summer h1, .project_cycle_items h1{
  font-size: 30px;
  color: black;
  /* background-color: #D8D8D8; */
  /* border-bottom: 5px #D8D8D8 solid; */
  margin-left: -15%;
  margin-right: -15%;
  padding-left: 15%;
  vertical-align: middle;
}

.sonos_summer img{
  width: 100%;
  margin: auto;
  padding-top: 25px;
}

.project_cycle_items{
  margin-left: 0%;
  margin-right: 0%;
}

.sonos_research, .sonos_kpi, .sonos_develop, .sonos_usability, .sonos_next{
  margin-left: -15%;
  margin-right: -15%;
  display: grid;
  grid-template-columns: 10% 1fr 3fr 5%;
  grid-template-rows: 300px;
  grid-column-gap: 50px;
  border: 5px white solid;
}

.sonos_research img, .sonos_kpi img, .sonos_develop img, .sonos_usability img, .sonos_next img{
  grid-column: 2;
  grid-row: 1;
  margin: auto;
  /* margin-bottom: auto; */
}

.sonos_research{
  background: #C14126;
}

.sonos_kpi{
  background: #D8A158;
}

.sonos_develop{
  background-color: #F1D9D9;
}

.sonos_usability{
  background: #183D2D;
}

.sonos_next{
  background: #BBD3E9;
}

.sonos_research_text, .sonos_kpi_text, .sonos_develop_text, .sonos_usability_text, .sonos_next_text{
  margin-top: auto;
  margin-bottom: auto;
  grid-column: 3;
  grid-row: 1;
}

.project_cycle_items ul{
  padding-left: 50px;
  padding-top: 10px;
  color: white;
}

.project_cycle_items p{
  padding-top: 15px;
  color: white;
}

.project_cycle_items h2{
  font-size: 25px;
  color: white;
  font-weight: 600;
}

.sonos_next_text p, .sonos_next_text h2, .sonos_develop_text h2, .sonos_develop_text p{
  color: black;
}

.sonos_header{
  margin-left: -15%;
  margin-right: -15%;
  background-color: #D8D8D8;
  margin-bottom: 10px;
}




/* nielsen */

.intro.nielsen{
  background-color: #22ADE4;
  margin-left: -15%;
  margin-right: -15%;
  padding-left: 15%;
  padding-right: 15%;
}

.intro.nielsen h1, .intro.nielsen h2, .intro.nielsen p{
  color: white;
}

.nielsen_landscape h1, .nielsen_role_process h1, .nielsen_role_overview h1{
  font-size: 30px;
  margin-bottom: 25px;
  color: #22ADE4;
  text-align: center;
}


.nielsen_role_process img{
  display: block;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.nielsen_landscape img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: auto;
  padding-bottom: 50px;
}

.nielsen_role_overview_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 25px;
  padding-bottom: 50px;
}

.nielsen_role_overview_container h2{
  padding-bottom: 10px;
  font-size: 20px;
}

.survey_img, .analytics_img, .relations_img{
  max-width: 65%;
  max-height: auto;
  margin: auto;
}

.survey_text, .analytics_text, .relations_text{
  text-align: center;
}

.survey_img{
  grid-column: 1;
  grid-row: 1;
}

.survey_text{
  grid-column: 1;
  grid-row: 2;
}

.analytics_img{
  grid-column: 2;
  grid-row: 1;
}

.analytics_text{
  grid-column: 2;
  grid-row: 2;
}

.relations_img{
  grid-column: 3;
  grid-row: 1;
}

.relations_text{
  grid-column: 3;
  grid-row: 2;
}




/* byb Backyard Brains */

.intro.byb{
  /* background-color: #c8e9ef; */
  margin-left: -15%;
  margin-right: -15%;
  padding-left: 15%;
  padding-right: 15%;
}

.intro.byb h1{
  color: #EF6C00;
}

.research_methods h1, .about_byb h1, .findings h1, .project_video h1, .project_recs h1{
  font-size: 30px;
  color: white;
  margin-bottom: 25px;
  /* background-color: #0d4653; */
  background-color: #EF6C00;
  margin-left: -15%;
  margin-right: -15%;
  padding-left: 15%;
}


/* .byb_list{
  padding-left: 50px;
  text-decoration: none;
}

.byb_list li{
  list-style: none;
  display: inline;
}

.byb_list a{
  color: #999;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 50px;
}

.byb_list a:hover{
  color: #EF6C00;
  font-weight: bold;
} */

.research_methods_container{
  overflow: hidden;
  padding-bottom: 100px;
}

.research_methods_image{
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.about_byb, .project_recs{
  margin-bottom: 75px;
}

.about_byb_container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 75px 75px 75px 75px;
  grid-row-gap: 25px;
  overflow: hidden;
}

.about_byb_container h2{
  /* padding-top: 13px; */
}

.background, .mission, .target, .problem{
  border-right: 2px solid #0d4653;
  font-size: 25px;
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
}

.background_text, .mission_text, .target_text, .problem_text{
  display: flex;
  align-items: center;
  border-left: 2px solid #0d4653;
  padding-left: 25px;
  padding-bottom: 0px;
}

.background{
  grid-column: 1;
  grid-row: 1;
}

.background_text{
  grid-column: 2;
  grid-row: 1;
}

.mission{
  grid-column: 1;
  grid-row: 2;
}

.mission_text{
  grid-column: 2;
  grid-row: 2;
}

.target{
  grid-column: 1;
  grid-row: 3;
}

.target_text{
  grid-column: 2;
  grid-row: 3;
}

.problem{
  grid-column: 1;
  grid-row: 4;
}

.problem_text{
  grid-column: 2;
  grid-row: 4;
}

.byb_youtube{
  display:block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
  padding-bottom: 25px;
}


.findings_container p{
  padding-bottom: 0px;
}

.finding{
  padding-bottom: 50px;
}

.finding.one h2, .finding.three h2{
  /* background-color: #EF6C00; #0d4653*/
  background-color: #0d4653;
  color: white;
  font-size: 25px;
  margin-left: -25px;
  margin-right: -25px;
  padding:15px;
  padding-left: 25px;
}

.finding.two h2{
  background-color: #00a79d;
  color: white;
  font-size: 25px;
  margin-left: -25px;
  margin-right: -25px;
  padding:15px;
  padding-left: 25px;
}

.finding img{
  display: block;
  margin: auto;
  height: auto;
  width: 75%;
  padding-top: 25px;
}

img.small{
  padding-top: 0px;
}


.personas{
  margin:auto;
}

.personas a{
  color: black;
  text-decoration: none;
  font-size: 13px;
}

.personas button{
  height: 80px;
  width: 80px;
  background-color: white;
  border: 2px solid #EF6C00;
  border-radius: 50%;
  text-decoration: none;
  display: inline-block;
}

.personas button:hover{
  background-color: #EF6C00;
}

.personas button:hover a{
  color: white;
}


.finding.one, .finding.two, .finding.three{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 50px;
  margin-bottom: 75px;
  padding-left: 25px;
  padding-right: 25px;

}

.finding.one, .finding.three{
  border: 3px solid #0d4653;
}
.finding.two{
  border: 3px solid #00a79d;
}

.finding_one_three, .finding_one_one, .finding_two_one, .finding_two_three, .finding_three_one{
  margin-top: auto;
  margin-bottom: auto;
}

img.finding_two_two, img.finding_two_four{
  padding-top: 0px;
}

.finding_one_header, .finding_two_header, .finding_three_header{
  grid-column: 1 / span 2;
  grid-row: 1;
  /* border-bottom: 2px solid #00a79d; */
}

.finding_one_two, .finding_one_four, .finding_one_five, .finding_two_three, .finding_two_five, .finding_two_six, .finding_three_two{
  grid-column: 1 / span 2;
}



.project_recs_container{
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: repeat(5,auto);
  grid-row-gap: 25px;
  margin-left: 5%;
  margin-right: 5%;
  padding-bottom: 25px;
}

.project_recs_container p{
  padding-bottom: 0px;
}

.rec_one_number, .rec_two_number, .rec_three_number, .rec_four_number, .rec_five_number{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#EF6C00;
  padding-top: 25px;
  padding-bottom: 25px;
}

.project_recs h2{
  color: white;
  font-size: 20px;
  text-align: center;
  overflow: hidden;
}

.rec_one_text, .rec_two_text, .rec_three_text, .rec_four_text, .rec_five_text{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
  padding-right: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 2px solid #EF6C00;
}

.rec_one_number{
  grid-column: 1;
  grid-row: 1;
}

.rec_one_text {
  grid-column: 2;
  grid-row: 1;
}

.rec_two_number{
  grid-column: 1;
  grid-row: 2;
}

.rec_two_text {
  grid-column: 2;
  grid-row: 2;
}

.rec_three_number{
  grid-column: 1;
  grid-row: 3;
}

.rec_three_text {
  grid-column: 2;
  grid-row: 3;
}

.rec_four_number{
  grid-column: 1;
  grid-row: 4;
}

.rec_four_text {
  grid-column: 2;
  grid-row: 4;
}

.rec_five_number{
  grid-column: 1;
  grid-row: 5;
}

.rec_five_text {
  grid-column: 2;
  grid-row: 5;
}





/* iworker */


.intro.iworker{
  /* background-color: #B4D8D1; */
  margin-left: -15%;
  margin-right: -15%;
  padding-left: 15%;
  padding-right: 15%;
}

.intro.iworker h1, .intro.iworker p{
  color: black;
}


.project_cycle h1, .iworker_project h1{
  /* text-align: center; */
  font-size: 30px;
  border-bottom: #B4D8D1 5px solid;
  color: #315C73;
  margin-bottom: 25px;
}

.project_cycle img{
  display: block;
  width: 75%;
  margin: auto;
  padding-bottom: 100px;
}



.iworker_project p, .iworker_project img{
  margin-top: auto;
  margin-bottom: auto;
}

.iworker_project img{
  margin-left: auto;
  margin-right: auto;
}

.iworker_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 25px;
  overflow: hidden;
  padding-bottom: 100px;
}

.problem_space_header{
  grid-column: 1/ span 2;
  grid-row: 1;
}

h1.problem_space_header{
  margin-bottom: 0px;
}

.problem_space_intro{
  grid-column: 1/ span 2;
  grid-row: 2;
}

.problem_space_stat1{
  grid-column: 1;
  grid-row: 3;
}

.problem_space_graph1{
  grid-column: 2;
  grid-row: 3;
  width: 90%;
  /* max-width: 500px; */
  min-width: 250px;
}

.problem_space_stat2{
  grid-column: 2;
  grid-row: 4;
}

.problem_space_graph2{
  grid-column: 1;
  grid-row: 4;
  /* height: 80%; */
  /* max-height: 500px; */
  height: 200px;
}

.comp_container, .iworker_persona, .iworker_storymap, .iworker_brainstorm, .iworker_solution, .iworker_draft_video, .iworker_usability{
  padding-bottom: 100px;
}

.comp_img{
  display: block;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.iworker_persona_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 50px;
}


.iworker_persona_container img{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 100%;
}

.iworker_persona1{
  grid-column: 1;
  grid-row: 1;
}

.iworker_persona2{
 grid-column: 2;
 grid-row: 1;
}

.iworker_persona3{
  grid-column: 1;
  grid-row: 2;
}

.iworker_persona4{
 grid-column: 2;
 grid-row: 2;
}


.iworker_storymap_img{
  width:90%;
  margin:0 auto;
  display:block;
  float:none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.iworker_define{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto;
  grid-gap: 25px;
  overflow: hidden;
  padding-bottom: 100px;
}

.iworker_problem_header{
  grid-column: 1 / span 2;
  grid-row: 1;
}

.iworker_problem{
  display: block;
  grid-column: 1;
  grid-row: 2;
  font-size: 25px;
  padding-left: 10%;
  padding-right: 10%;
  /* background-color: #eee; */
  padding-top: 40px;
  padding-bottom: 40px;
  color: #7997A6;
}

.iworker_problem_img{
  grid-column: 2;
  grid-row: 2;
  width: 70%;
  min-width: 250px;
}


.iworker_brainstorm img, .iworker_solution img{
  width:90%;
  margin:0 auto;
  display:block;
  float:none;
}

.iworker_opp{
  color: #7997A6;
}

.opp_highlight{
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 100px;
}

.iworker_draft_video iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.iworker_usability ul{
  padding-left: 25px;
}

.iworker_usability h2{
  font-size: 20px;
}
.iworker_usability h3{
  padding-bottom: 10px;
}

.iworker_usability_users, .iworker_usability_feedback, .iworker_usability_design{
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  grid-template-rows: auto;
  grid-column-gap: 50px;
  margin-bottom: 25px;
}

.iworker_usability_users, .iworker_usability_design{
  background-color: #B4D8D1;
}

.iworker_usability_feedback{
  background-color: #ccc;
}

.iworker_usability_design img, .iworker_usability_feedback img{
  padding-bottom: 20px;
}


.position_one{
  grid-column: 1;
  margin:auto;
  text-align: center;
  border-radius: 50%;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

.position_one img{
  height: 100px;
}

.position_two{
  grid-column: 2;
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.position_three{
  grid-column: 3;
  padding: 25px;

}



.iworker_invision{
  display: block;
  height: 900px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -150px;
}











/* other projects */
.other_projects {
  text-align: center;
  padding-top: 25px;
}

.other_projects h1{
  padding-bottom: 25px;
}

.other_projects_container{
  display: grid;
  grid-template-columns: 1fr 100px 100px 100px 1fr;
  grid-template-rows: 100px;
  grid-column-gap: 25px;
  overflow: hidden;
  padding-bottom: 50px;
}

.project_one{
  grid-column: 2;
}

.project_two{
  grid-column: 3;
}

.project_three{
  grid-column: 4;
}

.other_projects_container img{
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.other_projects_container a{
  text-decoration: none;
  color: black;
}

.other_projects_container .flip_card{
  background-color: transparent;
  width: 100px;
  height: 100px;
  perspective: 1000px;
}

.other_projects_container .flip_card_back h1{
  padding-top: 25px;
  padding-bottom: 10px;
  font-size: 15px;
  margin:auto;
}

.other_projects_container .flip_card_back p{
  font-size: 12px;
}
